.overlay {
    width: 640px;
    height: 480px;
    display: flex;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    transform: translate(-800px);
    transition: transform 1s ease-in-out 100ms;
}

.overlay:target {
    visibility: visible;
    outline: none;
}

.overlay:target img {
    transform: translate(300px);
}